.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: rgb(232, 216, 246);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: 0.5rem 0;
}

.button__delete {
    align-self: flex-end;

}

footer{
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
}